<nav class="navbar" aria-label="Bezart Flow ナビゲーション">
  <div class="navbar-container">
    <div class="navbar-left"><a href="/" class="navbar-logo"><img src="assets/Bezart.png" alt="Bezart" class="logo-image" /></a></div>
    <div class="navbar-center"><ul class="navbar-menu"><li class="navbar-item"><a href="/#concept" class="navbar-link">Concept</a></li><li class="navbar-item"><a href="/#features" class="navbar-link">Flow</a></li><li class="navbar-item"><a href="/#privacy" class="navbar-link">Local-first</a></li><li class="navbar-item"><a href="/#get-flow" class="navbar-link">About</a></li></ul></div>
  </div>
</nav>
